/******************************/
/******** Template CSS ********/
/******************************/
body { font-family: Arial, Helvetica, sans-serif; margin: 0px; font-size: 16px; line-height: 1.6; color: #363636; }
p { margin: 15px 0px; }
img { border: none; padding: 0; margin: 0; }
.clearbreak { clear: both; }
h1, h2, h3, h4, h5 { margin: 0px;}
h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
input, select, button, .btn, textarea { font-family: Arial, Helvetica, sans-serif; font-size: 17px; }
@media screen and (min-width:768px){
body { font-size: 14px; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
input, select, button, .btn, textarea { font-size: 15px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
#header { clear: both; }
#menu-line { clear: both; }
#banner { padding: 0px 0px 15px 0px; clear: both; }
#main { float: left; width: 100%; clear: both; background: #f0f0f0; }
#footer { float: left; width: 100%; clear: both; padding: 15px 0px 0px 0px; background: #214880; }
#copyright { padding: 10px 0px; clear: both; border-top: 1px solid #c0c0c0; }
@media screen and (min-width:768px){
#header { height: 110px; padding: 10px 0px; min-width: 990px; background: url(../images/blue-header.gif) top center no-repeat; }
#menu-line { min-width: 990px; background: url(../images/toolbar_line.gif) center; }
#navigation { height: 40px; width: 970px; margin: 0 auto; background: url(../images/blue-menu.gif); border-bottom: 5px solid #4f9ee0; }
#banner { float: left; min-width: 990px; width: 100%; padding: 20px 0px 0px 0px; background: #f0f0f0; }
#main, #footer { min-width: 990px; width: 100%; }
#copyright { height: 50px; min-width: 990px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
#container { padding: 0px 15px; }
@media screen and (min-width:768px){
#container { width: 970px; padding: 0px 10px; margin: 0 auto; }
}
/******************************/
/******** Template CSS ********/
/******************************/
#content-right-layout, #content-left-layout, #content-left-right, #right-right-layout, #left-left-layout, #left-left-right, #right-left-right { clear: both; }
@media screen and (min-width:768px){
#content-right-layout { float: left; width: 679px; clear: none; }
#content-left-layout { float: right; width: 679px; clear: none; }
#content-left-right { float: left; width: 488px; clear: none; margin: 0px 0px 0px 41px; }
#right-right-layout { float: right; width: 250px; clear: none; }
#left-left-layout { float: left; width: 250px; clear: none; }
#left-left-right { float: left; width: 200px; clear: none; }
#right-left-right { float: right; width: 200px; clear: none; }
}
/******************************/
/******** Template CSS ********/
/******************************/
@media screen and (min-width:768px){
#content-right-layout-bg { float: left; width: 970px; background: url(../images/right.gif) right; }
#content-left-layout-bg { float: left; width: 970px; background: url(../images/left.gif) left; }
#content-left-right-bg { float: left; width: 970px; background: url(../images/leftright.gif) left; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.logo { width: 100%; }
#logo { max-width: 300px; margin: 0 auto; }
#spacer { height: 20px; clear: both; background: #f0f0f0; border-top: 1px solid #c0c0c0; }
#space { display: none; }
#copy, #design { text-align: center; }
#design a { color: #363636; text-decoration: none; }
@media screen and (min-width:768px){
.logo { width: auto; height: 100px; }
#logo { max-width: none; float: left; margin-top: 10px; }
#spacer { display: block; min-width: 990px; height: 25px; border-top: none; }
#space { display: block; height: 20px; clear: both; background: #f0f0f0; }
#copy { float: left; margin: 15px 0px 0px 0px; }
#design { float: right; margin: 15px 0px 0px 0px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
ul.menu, ul.menu ul, ul.dropdown-menu, .pagination ul, #login-form ul, ul.breadcrumb, ul.nav, ol.nav, ul.category, ul.search-results, ul.thumbnails, ul.tags, ul.btn-toolbar, ul.archive-module, ul.categories-module, ul.categories-module ul, ul.category-module, ul.category-module ul, ul.latestnews, ul.mostread, ul.relateditems, ul.newsfeed, ul.latestusers, .tagspopular ul { list-style: none; padding: 0px; margin: 0px; }
/******************************/
/******** Template CSS ********/
/******************************/
#head { margin: 0px 0px 15px 0px; }
#head p { margin: 0px; }
#head .menu a, #head .menu .nav-header, #head .menu .separator  { color: #000000; text-decoration: none; font-weight: bold; text-align: center; padding: 5px 10px; display: block; border-radius: 7px; background: url(../images/button.gif) center; }
#head .menu li { margin: 2px 0px; }
#head .menu li li { display: none; }
@media screen and (min-width:768px){
#head { float: right; height: 90px; max-width: 550px; margin: 10px 0px 0px 0px; overflow: hidden; }
#head form { margin: 40px 0px 0px 0px; }
#head .menu a, #head .menu .nav-header, #head .menu .separator  { display: inline; padding: 0px; background: none; }
#head .menu li { float: left; margin: 45px 0px 0px 25px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
#search { padding: 0px 0px 15px 0px; text-align: center; }
#search .menu a, #search .menu .nav-header, #search .menu .separator { color: #000000; text-decoration: none; font-weight: bold; font-size: 16px; text-align: center; display: block; padding: 3px 10px; margin: 2px 0px; border-radius: 7px; background: url(../images/button.gif) center; border: 1px solid #dedede; }
#search .menu li li { display: none; }
@media screen and (min-width:768px){
#search { float: right; padding: 0px 10px 0px 0px; text-align: left; }
#search .menu a, #search .menu .nav-header, #search .menu .separator { color: #FFFFFF; }
#search form { margin: 5.5px 0px 0px 0px; }
#search .menu a, #search .menu .nav-header, #search .menu .separator { font-size: 15px; padding: 0px; margin: 0px; background: none; border: none; }
#search .menu li { float: left; padding: 0px; margin: 0px 10px 0px 15px; line-height: 2.67; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.tooltip { position: absolute; z-index: 1030; display: block; font-size: 12px; line-height: 1.4; opacity: 0; filter: alpha(opacity=0); visibility: visible; }
.tooltip.in { opacity: .8; filter: alpha(opacity=80); }
.tooltip.top { padding: 5px 0; margin-top: -3px; }
.tooltip-inner { max-width: 200px; padding: 8px; color: #fff; text-align: center; text-decoration: none; background-color: #000; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }
.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-color: #000; border-width: 5px 5px 0; }
/******************************/
/******** Template CSS ********/
/******************************/
.popover { position: absolute; top: 0; left: 0; z-index: 1060; display: none; max-width: 276px; padding: 1px; text-align: left; background: #FFFFFF; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; border: 1px solid #dedede; border: 1px solid rgba(0,0,0,0.2); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2); -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2); box-shadow: 0 5px 10px rgba(0,0,0,0.2); white-space: normal; }
.popover.top { margin: -10px 0px 0px 0px; }
.popover.left { margin: 0px 0px 0px -10px; }
.popover.right { margin: 0px 0px 0px 10px; }
.popover.bottom { margin: 10px 0px 0px 0px; }
.popover .arrow, .popover .arrow:after { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid; }
.popover .arrow { border-width: 11px; }
.popover .arrow:after { border-width: 10px; content: ""; }
.popover.right .arrow { top: 50%; left: -11px; margin: -11px 0px 0px 0px; border-left-width: 0; border-right-color: #999; border-right-color: rgba(0,0,0,0.25); }
.popover.right .arrow:after { left: 1px; bottom: -10px; border-left-width: 0; border-right-color: #fff; }
.popover-title { margin: 0; padding: 5px 15px; font-size: 16px; font-weight: normal; line-height: 18px; background: #f7f7f7; border-bottom: 1px solid #ebebeb; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.popover-content { padding: 12px 15px; }
/******************************/
/******** Template CSS ********/
/******************************/
.alert { padding: 10px; margin: 0px 0px 15px 0px; border-radius: 7px; border: 1px solid #c0c0c0; }
.alert button.close { font-size: 20px; cursor: pointer; float: right; display: block; margin: -7px 0px 0px 0px; background: none; border: none; }
.alert a.close { font-size: 20px; cursor: pointer; float: right; display: block; }
/******************************/
/******** Template CSS ********/
/******************************/
.page-header h1, .contact h1, .categories-list h1, .contact-category h1, .newsfeed-category h1, .tag-category h1 { color: #374c84; padding: 0px 0px 5px 0px; margin: 0px 0px 10px 0px; border-bottom: 1px solid #c0c0c0; }
h3.page-header { padding: 0px 0px 5px 0px; margin: 0px 0px 10px 0px; }
.footer h3.page-header { border-bottom: 1px solid #18345d; }
.layout h3.page-header, .user h3.page-header { color: #374c84; border-bottom: 1px solid #c0c0c0; }
.item-page .page-header h2 a, .blog-featured h2.item-title a, .blog .page-header h2 a { color: #000000; text-decoration: none; }
@media screen and (min-width:768px){
.page-header h1, .item-page .page-header h2, .contact h1 { font-size: 20px; }
.blog-featured h2.item-title, .blog .page-header h2, .item-page .page-header h2, .contact h2 { font-size: 18px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.dropdown-menu li { display: inline; margin: 0px 10px 0px 0px; }
dl.article-info dd { padding: 0; margin: 0; }
.article-info-term { display: none; }
p.readmore { margin: 0px; }
p.readmore a { color: #363636; text-decoration: none; padding: 5px 10px; border-radius: 5px; background: url(../images/button.gif); border: 1px solid #c0c0c0; }
.items-more { margin: 0px 0px 15px 0px; }
.archive fieldset { padding: 0px; border: none; }
.item-page .pager { text-align: center; margin: 0px 0px 15px 0px; }
.item-page .pager li { display: inline; margin: 0px 10px; }
.dropdown-menu li a, .category-name a, .items-more a, #archive-items a, .item-page .nav a, .pager a { color: #000000; text-decoration: none; }
@media screen and (min-width:480px){
.items-leading .article-info dd, .item-page .article-info dd, .cols-1 .article-info dd { display: inline; margin: 0px 10px 0px 0px; }
.items-more li { display: inline; margin: 0px 15px 0px 0px; }
.item-page .nav li { display: inline; margin: 0px 15px 0px 0px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.pagination { float: left; width: 100%; padding: 0px 0px 15px 0px; text-align: center; clear: both; }
p.counter { margin: 0px 0px 10px 0px; }
.pagination li { display: inline; }
li.pagination-number { display: none; }
.pagination .pagenav { color: #363636; text-decoration: none; padding: 5px 10px; margin: 0px 2px; border-radius: 5px; background: url(../images/button.gif); border: 1px solid #c0c0c0; }
ul.pagenav .previous { float: left; margin: 0px 0px 15px 0px; }
ul.pagenav .next { float: right; margin: 0px 0px 15px 0px; }
ul.pagenav .previous a, ul.pagenav .next a { color: #000000; text-decoration: none; }
@media screen and (min-width:768px){
.pagination { padding: 0px 0px 5px 0px; }
.pagination ul { float: left; }
p.counter { float: right; margin: 0px; }
li.pagination-number { display: inline; }
ul.pagenav .previous { margin: 0px 0px 5px 0px; }
ul.pagenav .next { margin: 0px 0px 5px 0px; }
.items-row { clear: both; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.breadcrumb a { color: #000000; text-decoration: none; }
@media screen and (min-width:480px){
.breadcrumb li { display: inline; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.category-list table { width: 100%; margin: 0px 0px 15px 0px; }
.category-list td, .category-list th { text-align: left; padding: 5px; border: 1px solid #dedede; }
.category-list .inputbox, .category-list #filter_tag { padding: 5px; border: 1px solid #c0c0c0; }
.category-list fieldset { padding: 0px; border: none; }
.category-list .btn-group { text-align: center; margin: 0px 0px 10px 0px; }
.category-list .badge-info { padding: 3px; border-radius: 5px; background: #FFFFFF; border: 1px solid #dedede; }
.category-list a { color: #000000; text-decoration: none; }
@media screen and (min-width:768px){
.category-list td, .category-list th { padding: 5px 10px; }
.category-list .btn-group { float: left; }
.category-list .btn-group.pull-right { float: right; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.contact h2 { margin: 0px 0px 15px 0px; }
.contact h3 { margin: 0px 0px 15px 0px; }
.contact fieldset { padding: 10px; border: 1px solid #c0c0c0; }
.contact .accordion fieldset { border: none; padding: 0px; margin: 0px; }
.contact a.accordion-toggle { color: #000000; text-decoration: none; display: block; padding: 5px 10px; background: url(../images/button.gif); border: 1px solid #c0c0c0; }
.contact .accordion-inner { padding: 10px; border: 1px solid #c0c0c0; }
.contact .accordion legend { display: block; margin: 0px 0px 10px 0px; }
.contact .nav { margin: 0px 0px 15px 0px; list-style: none; border-bottom: 1px solid #c0c0c0; }
.contact .nav > li > a { color: #000000; text-decoration: none; display: block; display: block; padding: 10px 15px; line-height: 18px; margin: 0px 2px 0px 0px; border: 1px solid transparent; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.contact .nav > .active > a, .contact .nav > .active > a:hover, .contact .nav > .active > a:focus { color: #000000; background: #f0f0f0; border: 1px solid #c0c0c0; border-bottom-color: transparent; cursor: default; }
.contact .nav:before, .contact .nav:after { display: table; content: ""; line-height: 0; }
.contact .nav:after { clear: both; }
.contact .nav > li { float: left; margin-bottom: -1px; }
.contact .tab-content > .tab-pane { display: none; }
.contact .tab-content > .active { display: block; }
.contact .dl-horizontal dt { float: left; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 2; }
.contact .dl-horizontal dd { margin: 0px 0px 0px 30px; line-height: 2; }
.contact .control-group { margin: 0px 0px 10px 0px; }
.contact input.required { padding: 5px; width: 94%; border: 1px solid #c0c0c0; }
.contact textarea.required { padding: 4px; width: 94%; border: 1px solid #c0c0c0; }
.contact .contact-links .nav { border-bottom: none; margin: 0px; padding: 0px; }
.contact .thumbnail img { width: 100%; }
.blog-featured fieldset { padding: 0px; margin: 0px 0px 10px 0px; border: none; }
.blog-featured .hidelabeltxt { display: none; }
.blog-featured #adminForm select.inputbox { border: 1px solid #c0c0c0; padding: 5px; }
.blog-featured table.category { text-align: left; width: 100%; margin: 0px 0px 15px 0px; }
.blog-featured table.category th { padding: 5px 10px; border: 1px solid #c0c0c0; }
.blog-featured table.category td { padding: 5px 10px; border: 1px solid #c0c0c0; }
.contact-category h2 { margin: 0px 0px 10px 0px; }
.contact-category fieldset { padding: 0px; border: none;  }
.contact-category .btn-group { margin: 0px 0px 15px 0px; }
.contact-category .inputbox { border: 1px solid #c0c0c0; padding: 5px; }
.contact-category ul.category { float: left; width: 100%; margin: 0px 0px 15px 0px; border-top: 1px solid #c0c0c0; }
.contact-category ul.category li { float: left; width: 100%; border-bottom: 1px solid #c0c0c0; padding: 10px 0px; }
.contact-category img { width: 100%; }
.contact-emailto a, .contact-webpage a, .contact-category a, .blog-featured table.category a, .categories-list .item-title a { color: #000000; text-decoration: none; }
@media screen and (min-width:480px){
.contact .thumbnail { float: right; }
.contact .thumbnail img { width: auto; height: 65px; }
.contact-category img { float: right; width: auto; height: 65px; }
}
@media screen and (min-width:768px){
.contact-category .btn-group { float: left; }
.contact-category .btn-group.pull-right { float: right; }
.contact input.required { width: 250px; }
.contact textarea.required { height: 200px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.search form, .finder form, .form-search .finder { text-align: center; }
.search label.element-invisible, .finder label { display: none; }
.search #mod-search-searchword, .finder #mod-finder-searchword { width: 97%; padding: 5px; margin: 0px 0px 5px 0px; border: 1px solid #c0c0c0; }
#searchForm, #finder-search { margin: 0px 0px 20px 0px; }
#searchForm #search-searchword, #finder-search input.inputbox { width: 97%; padding: 5px; margin: 0px 0px 5px 0px; border: 1px solid #c0c0c0; }
div.search-results { margin: 0px 0px 15px 0px; }
.collapse { position: relative; height: 0; overflow: hidden; -webkit-transition: height .35s ease; -moz-transition: height .35s ease; -o-transition: height .35s ease; transition: height .35s ease; }
.collapse.in { height: auto; }
.search-results li { margin: 0px 0px 15px 0px; }
.search-results p { margin: 0px; }
.search-pages-counter { text-align: center; padding: 0px 0px 20px 0px; }
.search-results a { color: #000000; text-decoration: none; }
@media screen and (min-width:480px){
.search #mod-search-searchword { width: 210px; margin: 0px; }
.finder #mod-finder-searchword { width: 200px; margin: 0px; }
#searchForm #search-searchword, #finder-search input.inputbox { width: 300px; margin: 0px; }
}
@media screen and (min-width:768px){
.search-pages-counter { text-align: left; }
}
/******************************/
/******** Template CSS ********/
/******************************/
#login-form .input-small { width: 97%; padding: 5px; border: 1px solid #c0c0c0; }
#login-form .control-group { margin: 0px 0px 10px 0px; }
#login-form .add-on { display: block; margin: 0px 0px 5px 0px; }
.login fieldset { padding: 10px 10px 0px 10px; margin: 0px 0px 15px 0px; border: 1px solid #c0c0c0; }
.login .control-group { margin: 0px 0px 10px 0px; }
.login .control-label { margin: 0px 0px 5px 0px; }
.login a { color: #000000; text-decoration: none; }
.login input.required { width: 97%; padding: 5px; border: 1px solid #c0c0c0; }
.registration fieldset { padding: 10px 10px 0px 10px; margin: 0px 0px 15px 0px; border: 1px solid #c0c0c0; }
.registration .control-group { margin: 0px 0px 10px 0px; }
.registration input.required { width: 97%; padding: 5px; border: 1px solid #c0c0c0; }
#user-registration fieldset { padding: 10px; margin: 0px 0px 10px 0px; border: 1px solid #c0c0c0; }
#user-registration input.required { width: 97%; padding: 5px; border: 1px solid #c0c0c0; }
.profile .dl-horizontal dd { margin: 0px; padding: 0px; }
#users-profile-core { margin: 10px 0px; }
#users-profile-custom { margin: 0px 0px 20px 0px; }
.profile-edit fieldset { padding: 10px; margin: 0px 0px 10px 0px; border: 1px solid #c0c0c0; }
@media screen and (min-width:480px){
.login input.required, .registration input.required, #user-registration input.required { width: 250px; }
.profile .dl-horizontal dt { float: left; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 2; }
.profile .dl-horizontal dd { margin: 0px 0px 0px 190px; line-height: 2; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.newsfeed-category .category { margin: 0px 0px 20px 0px; }
.newsfeed-category h2 { margin: 0px 0px 15px 0px; }
.newsfeed-category fieldset { padding: 0px; border: none; }
.newsfeed-category .btn-group { text-align: center; margin: 0px 0px 15px 0px; }
.newsfeed-category br { display: none; }
.newsfeed-category .category li { padding: 5px 10px; margin: 2px 0px; border: 1px solid #c0c0c0; }
.newsfeed-category li a { color: #000000; text-decoration: none; }
@media screen and (min-width:480px){
.newsfeed-category fieldset { margin: 0px 0px 20px 0px; }
.newsfeed-category .btn-group { float: left; margin: 0px; }
.newsfeed-category .btn-group.pull-right { float: right; margin: 0px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.tag-category fieldset { padding: 0px; border: none; }
.tag-category fieldset button { display: none; }
.tag-category .btn-group { text-align: center; margin: 0px 0px 15px 0px; }
.tag-category p { margin: 0px; }
.tag-category li { margin: 0px 0px 15px 0px; }
.tag-category table { margin: 0px 0px 15px 0px; }
.tags.inline { margin: 0px 0px 15px 0px; }
.tags.inline li { display: inline; margin: 0px 20px 0px 0px; }
.tag-category li a, .tag-category table a, .tags.inline li a { color: #000000; text-decoration: none; }
@media screen and (min-width:480px){
.tag-category fieldset { margin: 0px 0px 20px 0px; }
.tag-category .btn-group { float: left; margin: 0px; }
.tag-category .btn-group.pull-right { float: right; margin: 0px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
.edit fieldset { padding: 0px; border: none; margin: 0px 0px 20px 0px; }
.edit .btn-toolbar .btn-group { display: inline; }
.edit .nav { padding: 0; margin: 0px 0px 10px 0px; list-style: none; border-bottom: 1px solid #c0c0c0; }
.edit .nav > li { float: left; margin: 0px 0px -1px 0px; }
.edit .nav > li > a { color: #000000; text-decoration: none; display: block; padding: 8px 12px; margin: 0px 2px 0px 0px; line-height: 18px; border: 1px solid transparent; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.edit .nav > .active > a, .edit .nav > .active > a:hover, .edit .nav > .active > a:focus { color: #000000; background: #f0f0f0; border: 1px solid #c0c0c0; border-bottom-color: transparent; cursor: default; }
.edit .nav > li > a:hover, .edit .nav > li > a:focus { border-color: #c0c0c0 #c0c0c0 #c0c0c0; }
.edit .nav:before, .edit .nav:after { display: table; content: ""; line-height: 0; }
.edit .nav:after { clear: both; }
.edit .tab-content > .tab-pane { display: none; }
.edit .tab-content > .active { display: block; }
@font-face { font-family: 'IcoMoon'; src: url('../../../media/jui/fonts/IcoMoon.eot'); src: url('../../../media/jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../../media/jui/fonts/IcoMoon.woff') format('woff'), url('../../../media/jui/fonts/IcoMoon.ttf') format('truetype'), url('../../../media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg'); font-weight: normal; font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: 'IcoMoon'; font-style: normal; speak: none; }
.icon-calendar:before { content: "\43"; }
.edit .editor { margin: 10px 0px 0px 0px; }
.edit .control-group { margin: 0px 0px 10px 0px; }
.edit .pull-right { float: right; padding: 10px 0px 0px 0px; }
.edit .control-group .inputbox { border: 1px solid #c0c0c0; padding: 3px; width: 250px; }
.edit .btn-toolbar button.btn { margin: 0px 2px 10px 2px; }
/******************************/
/******** Template CSS ********/
/******************************/
.user .moduletable, .user .user-module, .footer .moduletable, .layout .moduletable { padding: 0px 0px 15px 0px; }
.layout .menu a, .layout .menu .nav-header, .layout .menu .separator { color: #363636; text-decoration: none; display: block; padding: 3px 10px; margin: 2px 0px; border-radius: 5px; background: url(../images/button.gif); border: 1px solid #dedede; }
.footer .menu a, .footer .menu .nav-header, .footer .menu .separator { display: block; padding: 5px 0px; border-bottom: 1px solid #18345d; }
.advert .menu a, .advert .menu .nav-header, .advert .menu .separator, .user .menu a, .user .menu .nav-header, .user .menu .separator, .bottom .menu a, .bottom .menu .nav-header, .bottom .menu .separator { display: block; padding: 5px 0px; border-bottom: 1px solid #c0c0c0; }
ul.archive-module a, ul.categories-module li, ul.category-module li, ul.latestnews a, ul.mostread a, ul.relateditems li, ul.latestusers li, .tagspopular li { display: block; padding: 5px 0px; }
.layout ul.archive-module a, .layout ul.categories-module li, .layout ul.category-module li, .layout ul.latestnews a, .layout ul.mostread a, .layout ul.relateditems li, .layout ul.latestusers li, .layout .tagspopular li, .advert ul.archive-module a, .advert ul.categories-module li, .advert ul.category-module li, .advert ul.latestnews a, .advert ul.mostread a, .advert ul.relateditems li, .advert ul.latestusers li, .advert .tagspopular li, .user ul.archive-module a, .user ul.categories-module li, .user ul.category-module li, .user ul.latestnews a, .user ul.mostread a, .user ul.relateditems li, .user ul.latestusers li, .user .tagspopular li, .bottom ul.archive-module a, .bottom ul.categories-module li, .bottom ul.category-module li, .bottom ul.latestnews a, .bottom ul.mostread a, .bottom ul.relateditems li, .bottom ul.latestusers li, .bottom .tagspopular li { border-bottom: 1px solid #c0c0c0; }
.footer ul.archive-module a, .footer ul.categories-module li, .footer ul.category-module li, .footer ul.latestnews a, .footer ul.mostread a, .footer ul.relateditems li, .footer ul.latestusers li, .footer .tagspopular li { border-bottom: 1px solid #18345d; }
ul.categories-module ul li, ul.category-module ul li { margin: 4px 0px -4px 0px; }
.layout ul.categories-module ul li, .layout ul.category-module ul li, .advert ul.categories-module ul li, .advert ul.category-module ul li, .user ul.categories-module ul li, .user ul.category-module ul li, .bottom ul.categories-module ul li, .bottom ul.category-module ul li { border-top: 1px solid #c0c0c0; border-bottom: none; }
.footer ul.categories-module ul li, .footer ul.category-module ul li { border-top: 1px solid #18345d; border-bottom: none; }
.mod-articles-category-readmore { margin: 0px; }
ul.newsfeed li { margin: 15px 0px 0px 0px; }
.newsflash-title { margin: 15px 0px; }
.footer { color: #FFFFFF; }
.footer a { color: #FFFFFF; text-decoration: none; }
.layout a, .user a { color: #363636; text-decoration: none; }
.categories-module h4, .categories-module h5  { font-size: 16px; font-weight: normal; }
@media screen and (min-width:768px){
.user .user-module, .bottom .moduletable { padding: 15px 0px 0px 0px; }
.categories-module h4, .categories-module h5 { font-size: 14px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
input.button, input.btn, button { padding: 4px 10px; border-radius: 5px; background: url(../images/button.gif) center; border: 1px solid #c0c0c0; }
.finder a.btn, .registration a.btn, .profile a.btn, .profile-edit a.btn, .edit a.btn { color: #000000; text-decoration: none; display: inline-block; padding: 3px 10px 2px 10px; border-radius: 5px; background: url(../images/button.gif) center; border: 1px solid #c0c0c0; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
input.button, input.btn, button { padding: 5px 10px; }
}
/******************************/
/******** Template CSS ********/
/******************************/
#menu { margin: 0px 0px 15px 0px; }
#menu .menu a, #menu .menu .nav-header, #menu .menu .separator { color: #FFFFFF; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; padding: 5px 10px; display: block; border-radius: 7px; background: url(../images/blue-menu.gif); border: 1px solid #4f9ee0; }
#menu .menu li { margin: 2px 0px; }
@media screen and (min-width:768px){
#menu { text-align: left; float: left; padding: 0px; margin: 0px; }
#menu select { display: none; }
#menu .menu { display: block; }
#menu .menu a, #menu .menu .nav-header, #menu .menu .separator { font-size: 15px; text-align: left; padding: 0px 15px; border-radius: 0px; background: none; border: none; }
#menu .menu li { float: left; position: relative; margin: 0px; line-height: 2.67; }
#menu .menu li.active a, #menu .menu li.active .nav-header, #menu .menu li.active .separator { background: url(../images/blue-current.gif); }
#menu ul.menu li:hover { background: url(../images/blue-hover.gif); }
#menu .menu li li a, #menu .menu li li .nav-header, #menu .menu li li .separator { font-weight: normal; font-size: 14px; }
#menu .menu ul { float: none; left: -999em; position: absolute; z-index: 99; width: 190px; padding: 5px 0px 10px 0px; border-radius: 0px 0px 7px 7px; background: #519fe1; }
#menu .menu ul li { width: 190px; padding: 2px 0px; position: relative; line-height: 1.8; }
#menu ul.menu li li:hover { background: none; }
#menu li:hover ul { left: auto; }
#menu ul.menu li.active li a, #menu .menu li.active li .nav-header, #menu .menu li.active li .separator { background: none !important; }
#menu .menu ul ul { margin: -1.8em 0 0 12.4em; position: absolute; z-index: 99; height: auto; padding: 5px 0px; border-radius: 7px; background: #4a91cd; }
#menu .menu ul ul ul { background: #519fe1; }
#menu ul.menu li:hover ul ul, #menu ul.menu li:hover ul ul ul { left: -999em; }
#menu ul.menu li li:hover ul, #menu ul.menu li li li:hover ul { left: auto; }
}
/******************************/
/******** Template CSS ********/
/******************************/
@media screen and (min-width:768px){
#content-right-layout .cols-4 .column-1, #content-left-layout .cols-4 .column-1 { width: 157px; float: left; }
#content-right-layout .cols-4 .column-2, #content-left-layout .cols-4 .column-2 { width: 157px; float: left; margin-left: 17px; }
#content-right-layout .cols-4 .column-3, #content-left-layout .cols-4 .column-3 { width: 157px; float: left; margin-left: 17px; }
#content-right-layout .cols-4 .column-4, #content-left-layout .cols-4 .column-4 { width: 157px; float: right; }
#content-right-layout .cols-3 .column-1, #content-left-layout .cols-3 .column-1 { width: 217px; float: left; }
#content-right-layout .cols-3 .column-2, #content-left-layout .cols-3 .column-2 { width: 217px; float: left; margin-left: 14px; }
#content-right-layout .cols-3 .column-3, #content-left-layout .cols-3 .column-3 { width: 217px; float: right; }
#content-right-layout .cols-2 .column-1, #content-left-layout .cols-2 .column-1 { width: 332px; float: left; }
#content-right-layout .cols-2 .column-2, #content-left-layout .cols-2 .column-2 { width: 332px; float: right; }
#content-right-layout .cols-1 .column-1, #content-left-layout .cols-1 .column-1 { width: 679px; float: left; }
#content-left-right .cols-3 .column-1 { width: 152px; float: left; }
#content-left-right .cols-3 .column-2 { width: 152px; float: left; margin-left: 16px; }
#content-left-right .cols-3 .column-3 { width: 152px; float: right; }
#content-left-right .cols-2 .column-1 { width: 236px; float: left; }
#content-left-right .cols-2 .column-2 { width: 236px; float: right; }
#content-left-right .cols-1 .column-1 { width: 488px; float: left; }
#content-no-layout .cols-5 .column-1 { width: 182px; float: left; }
#content-no-layout .cols-5 .column-2 { width: 182px; float: left; margin-left: 15px; }
#content-no-layout .cols-5 .column-3 { width: 182px; float: left; margin-left: 15px; }
#content-no-layout .cols-5 .column-4 { width: 182px; float: left; margin-left: 15px; }
#content-no-layout .cols-5 .column-5 { width: 182px; float: right; }
#content-no-layout .cols-4 .column-1 { width: 232px; float: left; }
#content-no-layout .cols-4 .column-2 { width: 232px; float: left; margin-left: 14px; }
#content-no-layout .cols-4 .column-3 { width: 232px; float: left; margin-left: 14px; }
#content-no-layout .cols-4 .column-4 { width: 232px; float: right; }
#content-no-layout .cols-3 .column-1 { width: 314px; float: left; }
#content-no-layout .cols-3 .column-2 { width: 314px; float: left; margin-left: 14px; }
#content-no-layout .cols-3 .column-3 { width: 314px; float: right; }
#content-no-layout .cols-2 .column-1 { width: 477px; float: left; }
#content-no-layout .cols-2 .column-2 { width: 477px; float: right; }
#content-no-layout .cols-1 .column-1 { width: 970px; float: left; }
.items-leading { float: left; width: 100%; }
}
#content-right-layout .cols-4 .column-1, #content-left-layout .cols-4 .column-1, #content-right-layout .cols-4 .column-2, #content-left-layout .cols-4 .column-2, #content-right-layout .cols-4 .column-3, #content-left-layout .cols-4 .column-3, #content-right-layout .cols-4 .column-4, #content-left-layout .cols-4 .column-4, #content-right-layout .cols-3 .column-1, #content-left-layout .cols-3 .column-1, #content-right-layout .cols-3 .column-2, #content-left-layout .cols-3 .column-2, #content-right-layout .cols-3 .column-3, #content-left-layout .cols-3 .column-3, #content-right-layout .cols-2 .column-1, #content-left-layout .cols-2 .column-1, #content-right-layout .cols-2 .column-2, #content-left-layout .cols-2 .column-2, #content-right-layout .cols-1 .column-1, #content-left-layout .cols-1 .column-1, #content-left-right .cols-3 .column-1, #content-left-right .cols-3 .column-2, #content-left-right .cols-3 .column-3, #content-left-right .cols-2 .column-1, #content-left-right .cols-2 .column-2, #content-left-right .cols-1 .column-1, #content-no-layout .cols-5 .column-1, #content-no-layout .cols-5 .column-2, #content-no-layout .cols-5 .column-3, #content-no-layout .cols-5 .column-4, #content-no-layout .cols-5 .column-5, #content-no-layout .cols-4 .column-1, #content-no-layout .cols-4 .column-2, #content-no-layout .cols-4 .column-3, #content-no-layout .cols-4 .column-4, #content-no-layout .cols-3 .column-1, #content-no-layout .cols-3 .column-2, #content-no-layout .cols-3 .column-3, #content-no-layout .cols-2 .column-1, #content-no-layout .cols-2 .column-2, #content-no-layout .cols-1 .column-1, .items-leading { padding: 0px 0px 15px 0px; }
/******************************/
/******** Template CSS ********/
/******************************/
@media screen and (min-width:768px){
.footer19 .one { width: 182px; float: left; }
.footer19 .two { width: 182px; float: left; margin: 0px 0px 0px 15px; }
.footer19 .three { width: 182px; float: left; margin: 0px 0px 0px 15px; }
.footer19 .four { width: 182px; float: left; margin: 0px 0px 0px 15px; }
.footer19 .five { width: 182px; float: right; }
.footer24 .one { width: 232px; float: left; }
.footer24 .two { width: 232px; float: left; margin: 0px 0px 0px 14px; }
.footer24 .three { width: 232px; float: left; margin: 0px 0px 0px 14px; }
.footer24 .four { width: 232px; float: right; }
.footer33 .one { width: 314px; float: left; }
.footer33 .two { width: 314px; float: left; margin: 0px 0px 0px 14px; }
.footer33 .three { width: 314px; float: right; }
.footer49 .one { width: 477px; float: left; }
.footer49 .two { width: 477px; float: right; }
.footer99 .one { width: 970px; float: left; }
}
/******************************/
/******** Template CSS ********/
/******************************/
@media screen and (min-width:768px){
#user-right-layout .user33 .one, #user-left-layout .user33 .one { width: 217px; float: left; }
#user-right-layout .user33 .two, #user-left-layout .user33 .two { width: 217px; float: left; margin-left: 14px; }
#user-right-layout .user33 .three, #user-left-layout .user33 .three { width: 217px; float: right; }
#user-right-layout .user49 .one, #user-left-layout .user49 .one { width: 332px; float: left; }
#user-right-layout .user49 .two, #user-left-layout .user49 .two { width: 332px; float: right; }
#user-right-layout .user99 .one, #user-left-layout .user99 .one { width: 679px; float: left; }
#user-left-right .user33 .one { width: 152px; float: left; }
#user-left-right .user33 .two { width: 152px; float: left; margin-left: 16px; }
#user-left-right .user33 .three { width: 152px; float: right; }
#user-left-right .user49 .one { width: 236px; float: left; }
#user-left-right .user49 .two { width: 236px; float: right; }
#user-left-right .user99 .one { width: 488px; float: left; }
#user-no-layout .user33 .one { width: 314px; float: left; }
#user-no-layout .user33 .two { width: 314px; float: left; margin-left: 14px; }
#user-no-layout .user33 .three { width: 314px; float: right; }
#user-no-layout .user49 .one { width: 477px; float: left; }
#user-no-layout .user49 .two { width: 477px; float: right; }
#user-no-layout .user99 .one { width: 970px; float: left; }
}